<!-- views/results.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>Analysis Results</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-5">Users Not Following Back</h1>
        <% if (users && users.length > 0) { %>
            <div class="row mt-4">
                <% users.forEach(user => { %>
                    <div class="col-md-6 col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center">
                                <%= user %>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p class="text-center mt-4">Everyone you follow is following you back!</p>
        <% } %>
        <div class="text-center mt-3 mb-5">
            <a href="/" class="btn btn-secondary">Back to Home</a>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>

</html>